_build/
deps/
doc/
cover/
.elixir_ls/
.lexical/
.tooling/
priv/plts/
tmp/
*.ez
*.beam
*.plt
*.plt.hash
*.dump
*.tar
.env
.env.*
!.env.example
system_one_sdk-*/
system_one_bumblebee-*/
system_one_server-*/
system-one-sdk-python/
typesafe-sdk-python/
system_one_sdk.xml
typesafe_sdk.xml
